/* custom collor */

:root {
  --primary-color: rgba(58, 58, 58, 1);
  --secondary-color: rgba(10, 8, 38, 1);
  --therd-color: rgba(108, 108, 108, 1);
  --btn-color: rgba(224, 44, 109, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-card: rgba(0, 0, 0, 0.87);
  --card-text: #80808c;
  --text-black: rgba(10, 8, 38, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 10px 24px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 41px;
  background: var(--btn-color);
  color: var(--text-white);
}

#banner,
#brand,
#card,
#feature {
  margin-bottom: 100px;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
  color: var(--primary-color);
}

p {
  font-size: 16px;
  color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.paddingX1 {
  padding: 15px 6px;
}

.ul {
  display: flex;
  gap: 10px;
  align-items: center;
}

li,
a {
  text-decoration: none;
  list-style: none;
}
