.navbar-content {
  padding: 50px 0;
}

.nav-menu {
  display: none;
}

.navbar-content .nav-menu i {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
}
.navbar-content .nav-logo h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: var(--primary-color);
}

.navbar-content .nav-link ul {
  gap: 34px;
}

.navbar-content .nav-link ul li a {
  font-weight: 600;
  color: var(--primary-color);
  line-height: 24px;
}

.nav-icon i {
  font-size: 26px;
  font-weight: 500;
  margin-left: 30px;
}

#banner-container {
  background: url(../images/Circle\ design.svg);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.nanner-text {
  max-width: 582px;
}

.banner-content .nanner-text h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}

.banner-content .nanner-text p {
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 25px;
}
