.navbar-content {
  padding: 50px 0;
}

.nav-menu {
  display: none;
}

.navbar-content .nav-menu i {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
}
.navbar-content .nav-logo h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: var(--primary-color);
}

.navbar-content .nav-link ul {
  gap: 34px;
}

.navbar-content .nav-link ul li a {
  font-weight: 600;
  color: var(--primary-color);
  line-height: 24px;
}

.nav-icon i {
  font-size: 26px;
  font-weight: 500;
  margin-left: 30px;
}

#banner-container {
  background: url(../images/Circle\ design.svg);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.nanner-text {
  max-width: 582px;
}

.banner-content .nanner-text h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}

.banner-content .nanner-text p {
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 25px;
}

.brand-content {
  padding: 30px 0px;
  border-top: 2px solid rgba(192, 204, 218, 0.963);
  border-bottom: 2px solid rgba(192, 204, 218, 0.774);
}

.header h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  margin-bottom: 60px;
}

.card-content .card-tiem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: center; */
  justify-items: center;
  gap: 20px;
}

.card-tiem .card {
  width: 369px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 18px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 1);
}

.card-tiem .card h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: var(--primary-color);
}

.card-tiem .card h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: var(--text-card);
}

.card .card-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card p {
  font-size: 14px;
  font-weight: 600;
  line-height: 143%;
  color: var(--card-text);
}

.card-content p a {
  font-size: 18px;
  font-weight: 600;
  color: var(--btn-color);
  display: flex;
  justify-content: flex-end;
}

.feautre-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  align-items: center;
}

.feautre-content .feauture-img img {
  max-width: 404px;
}

.feauture-text {
  width: 610px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.feautre-content .feauture-text {
  display: grid;
  grid-template-columns: repeat(3 1fr);
}

.feauture-text h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
  color: var(--text-black);
}

.feauture-text p {
  font-weight: 700;
  line-height: 28px;
  color: var(--card-text);
}

.feauture-text .btn {
  width: 155px;
  border-radius: 0px;
}



